<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/typeColors.css">
        <link rel="icon" type="image/x-icon" href="/images/icons8-pokemon-pointer-96.png">
    </head>
    <body>
        <%- include('partials/navBar') %>
        <div class="main">
            <%- include('partials/sideBar', {status: status, filter: filter}) %>
            <div class="rightMain">
                <div class="topBanner">
                    <h2>Pokemon</h2>
                    <a href="/new" class="addPokeLink">Add Pokemon</a>
                </div>
                <div class="cardsContainer">
                    <% if (locals.allPokemon) { %>
                        <% allPokemon.map(pokemon => { %>
                            <div class="card">
                                <img src="<%= pokemon.img_src%>" alt="pokemon img">
                                <div class="cardDetails">
                                    <div class="cardHeader">
                                        <p><%= pokemon.pokemon %></p>
                                        <div class="type">
                                            <% if (pokemon.second_type === 'none') { %>
                                                <p><span class="<%= pokemon.first_type %> type"><%= pokemon.first_type %></span></p>
                                            <% } else { %>
                                                <p><span class="<%= pokemon.first_type %> type"><%= pokemon.first_type %></span> <span class="<%= pokemon.second_type %> type"><%= pokemon.second_type%></span></p>
                                            <% } %>
                                        </div>
                                    </div>
                                    <p>Nickname: <%= pokemon.nickname %></p>
                                    <p>Trainer: <%= pokemon.trainer_name%></p>
                                    <p class="statusCont">Status: <span class="<%= pokemon.state %> status"><%= pokemon.state %></span></p>
                                </div>
                                <div class="cardBtns">
                                    <form action="/<%= pokemon.pokemon_id %>/edit" method="get">
                                        <button type="submit" class="submitBtn">Edit</button>
                                    </form>
                                    <form action="/<%= pokemon.pokemon_id %>/delete" method="post">
                                        <button type="submit" class="deleteBtn">Delete</button>
                                    </form>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>