<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="typeColors.css">
        <title><%= title%></title>
        <script src="/js/openModal.js" defer></script>
    </head>
    <body>
        <%- include('partials/navBar') %>
        <div class="trainerTopBanner">
            <h2>Trainers</h2>
            <button class="addTrainerBtn">Add Trainer</button>
        </div>
        <div class="trainerMain">
            <% if (locals.trainers) { %>
                <% trainers.map(trainer => { %>
                    <% if (trainer.pokeList.length === 0) return %>
                    <div class="trainerCard">
                        <div class="trainerDetails">
                            <h3 class="trainerName"><%= trainer.trainer %></h3>
                            <ul class="pokeList">
                                <% trainer.pokeList.map(poke => { %>
                                    <li><%= poke.pokemon %>  "<%= poke.nickname %>" - <span class="<%= poke.state %>"><%= poke.state %></span></li>
                                <% }) %>
                            </ul>
                        </div>
                        <form action="/trainer/<%= trainer.trainer_id %>/delete" method="post">
                            <% if (trainer.trainer_id === 1) { %>
                                <span></span>
                            <% } else { %>
                            <button type="submit" class="delTrainerBtn">Delete</button>
                            <% } %>
                        </form>
                    </div>
                <% }) %>
            <% } %>
        </div>
        <dialog class="dialog">
            <form action="/trainer/new" method="post">
                <label for="trainerName">Name: </label>
                <input type="text" name="trainerName" id="trainerName">
                <button type="submit" class="submitBtn">Submit</button>
            </form>
        <dialog>
    </body>
</html>