<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <% if (locals.trainers) { %>
            <% trainers.map(trainer => { %>
                <div>
                    <p><%= trainer.trainer %></p>
                    <ul>
                        <% trainer.pokeList.map(poke => { %>
                            <li><%= poke.pokemon %> - <%= poke.nickname %> - <%= poke.state %></li>
                        <% }) %>
                    </ul>
                    <form action="/trainer/<%= trainer.trainer_id %>/delete" method="post">
                        <% if (trainer.trainer_id === 1) { %>
                            <% return %>
                        <% } else { %>
                        <button type="submit">Delete</button>
                        <% } %>
                    </form>
                </div>
            <% }) %>
        <% } %>
    </body>
</html>