<html>
    <head>
        <title><%= title%></title>
        <script src="/js/openModal.js" defer></script>
    </head>
    <body>
        <%- include('partials/navBar') %>
        <button class="addTrainerBtn">Add Trainer</button>
        <% if (locals.trainers) { %>
            <% trainers.map(trainer => { %>
                <div>
                    <p><%= trainer.trainer %></p>
                    <ul>
                        <% trainer.pokeList.map(poke => { %>
                            <li><%= poke.pokemon %> - <%= poke.nickname %> - <%= poke.state %></li>
                        <% }) %>
                    </ul>
                    <form action="/trainer/<%= trainer.trainer_id %>/delete" method="post">
                        <% if (trainer.trainer_id === 1) { %>
                            <% return %>
                        <% } else { %>
                        <button type="submit">Delete</button>
                        <% } %>
                    </form>
                </div>
            <% }) %>
        <% } %>
        <dialog class="dialog">
            <form action="/trainer/new" method="post">
                <label for="trainerName">Name: </label>
                <input type="text" name="trainerName" id="trainerName">
                <button type="submit" class="submitBtn">Submit</button>
            </form>
        <dialog>
    </body>
</html>